* {
    border:0;
    margin:0;
    box-sizing:border-box;
}

body {
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    background:#666;
    font-family: 'Roboto mono', monospace;
    text-align: center;
}

form {
    background-color:#333;
    color:#fff;
    padding:20px;
    width:400px;
    height:800px;
}

/* alterado 'text-align' de 'start' para 'center' */
form div {
    color:#09c;
    font-size:20px;
    text-align:center;
}

input {
    padding:5px;
    margin:20px 10px 10px 0px;
}

#btn_nome {
    border: 1px solid #000;
    border-radius: 10px;
    padding: 10px;
    font-family: 'Roboto mono', monospace;
    font-weight: bold;
    font-size: .8rem;
    text-shadow: 0px 0px 10px #000;
    cursor: pointer;
}

#btn_nome:hover {
    opacity: .8;
}

#btn_nome:active {
    display: relative;
    top: 2px;
}
